.indexHeader  {
  margin:10px;
  position:relative;
}
.indexHeader span {
  margin-right:15px;
}
.indexHeader h1 {
  font-size:13px;
}
h1.bar {
  background-color:#4D7A97;
  color: #fff;
  padding: .8em .5em .4em .8em;
  height: auto;
  font-size: 11px;
  margin: 0;
}
h1.bar a:link, h1.bar a:visited {
	color: #fff;
}
h1.bar a:hover, h1.bar a:focus {
    color:#bb7a2a;
}
.indexContainer {
  margin: 10px;
  position: relative;
  font-size: 12px;
}
.indexContainer h2 {
  font-size: 13px;
  padding: 0 0 3px 0;
}
.indexContainer ul {
  margin: 0;
  padding: 0;
}
.indexContainer ul li {
  list-style: none;
  padding-top: 2px;
}
.interfaceName {
	font-style: italic;
}
